body {
    background-color:rgb(172, 166, 191);
}

@font-face {
    font-family:"kulture";
    src: url('Kulturë\ Type.woff') format('woff');

}

@font-face {
    font-family:"space mono";
    src: url(SpaceMono-Regular.woff) format('woff');

}

h1 {
    font-family:"kulture";
}

p {
    font-family:"space mono";
    color:navy;
}