body {
    background-color:rgb(172, 166, 191);
}

@font-face {
    font-family:'kulture';
    src: url('Kulturë\ Type.woff') format('woff');
}


div.title {
    font-family:'kulture';
    font-size:200px;
    text-align:center; 
    line-height:170px;
    margin-bottom:100px;
}

div.contents {
    font-size:30px;
    line-height:40px;
    text-align:center;

}