body {
    background-color:#141414;
}

@font-face {
    font-family:'kulture';
    src: url('Kulturë\ Type.woff') format('woff');
}

@font-face {
    font-family:'space mono';
    src: url('SpaceMono-Regular.woff') format('woff');

}


div.title {
    font-family:'kulture';
    font-size:200px;
    text-align:center; 
    line-height:170px;
    margin-bottom:100px;
    color:#eff0f2;
}

div.contents {
    font-family:'space mono';
    font-size:30px;
    line-height:40px;
    text-align:center;
    color:#eff0f2;
    text-align:left;
    

}